@import "tailwindcss"; 

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-background: #050112;
    --color-primary: #8D6CFB;
    --color-accent: #7459CC;
    --color-secondary-light: #392381;
    --color-secondary-dark: #0E0430;
    --container-default: var(--container-8xl);
}