@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --color-background: #050112;
  --color-primary: #8d6cfb;
  --color-accent: #7459cc;
  --color-secondary-light: #392381;
  --color-secondary-dark: #0d032b;
  --color-text-dark: #C0B9D5;

  --container-default: var(--container-8xl);
  --font-display: "Jost", "sans-serif";
}
